<div class="two-column">
	<div class="column">
		<% box :type => "box_title", :title => "Daily Average Deposit" do %>
			<%= high_chart("my_id2", @daily_average) %>
		<% end -%>
		<% box :type => "box_title", :title => "Number of Deposits" do %>
			<%= high_chart("my_id2", @daily_average) %>
		<% end -%>
	</div>
	<div class="column column-right">
		<% box :type => "box_title", :title => "Total Sales"do %>
			<%= high_chart("my_id", @monthly_traffic) %>
		<% end -%>		
	</div>
</div>

<p>
	<%= link_to "2009", "2009", :class => "years" %> | 
	<%= link_to "2010", "2010", :class => "years" %>
</p>