
Dear <%= assigns[:parameter].customer.name%>,<br></br>
Your Order Number is <%= assigns[:parameter].trans_no%><br/>
<h4>Artwork Description:</h4>
<% assigns[:parameter].sales_order_artworks.each{|artwork|%>
  <%if artwork.select_yn == 'Y'%>
    <%=  artwork.artwork_version %> : <%= artwork.artwork_file_name %>
  <%end%>
<%}%>
<br/><br/>
<%if assigns[:parameter].paper_proof_flag == 'Y'%>
<br/>
<% portal_link = Setup::Type.find_by_type_cd_and_subtype_cd('portal_link','portal_link')%>
<a href="<%=portal_link.value%>/bin/PromoPortal.html?value=<%=assigns[:parameter].salt%>" target="_blank">Click on the link to review proofs.</a>
<%end%>
<br/><br/>
***!DO NOT CHANGE OR MODIFY SUBJECT LINE WHEN REPLYING!<br/>
RECIPIENTS OF THIS EMAIL MUST REPLY TO ALL WHEN APPROVING OR MAKING CHANGES/COMMENTS!***<br></br>


Attached to this email is a color proof indicating layout, content, imprint color(s) & size. <br/>
Please review this proof carefully prior to approving to confirm that all details are as they should be. <br/>

Tekweld cannot be held accountable for any errors in spelling, grammar, color or layout if this proof is approved in error.<br/>

To Approve, Deny, Comment, OR Questions on this proof, please contact us immediately via email by REPLYING TO ALL.<br></br>

DIRECTIONS FOR EMAILED PROOFS:<br/>

For any changes or adjustments to this proof, please REPLY TO ALL with “DENIED” and provide specific details as to what changes are required.<br/>

If the proof is “APPROVED WITH CHANGES”, REPLY TO ALL with “APPROVED PLEASE PROCEED.”<br/>

PROOF APPROVALS MUST BE RECEIVED WITHIN 24 HOURS FROM THE RECEIPT DATE OF THIS PROOF IN ORDER FOR THE SHIP DATE ON THIS ORDER TO NOT BE AFFECTED.<br/>

IF REPLY TO THIS EMAIL IS NOT REPLIED TO ALL, WE CANT GUARANTEE APPROVAL WAS RECEIVED!! <br></br>



Phillip Taylor<br/>
Tekweld - Art Department<br/>
Phone: 877-835-9353<br/>
Fax: 631-694-5568<br/>
180 Central Avenue<br/>
Farmingdale, NY 11735<br/>
www.tekweld.com




