<div class="inner-response">
	<input type="hidden" name="in_memo_page" value="yup" id="in_memo_page">
	<script type="text/javascript" src="/js/tablesorter.js"></script>
	<script type="text/javascript" src="/js/tablesorter-pager.js"></script>
	<%= page_title :title => "List of all Memos/Followups" %>
	<% box :type => "portlet", :title => "Memos", :id => "portlet_memos" do %>
		<% form_for @filter, :url => "", :html => {:class => "forms", :id => "form_filter"} do |f| %>
			<ul>
				<li class="horizental">
					<label>Priority</label>					
					<%= f.select :priority, Memo.pariority_select_options, :include_blank => true %>
				</li>
				<li class="horizental">
					<label>Category</label>					
					<%= f.select :memo_category_id, MemoCategory.all.collect { |c| [c.category, c.id.to_s] }, :include_blank => true %>
				</li>
				<li class="horizental">
					<label>Memo Type</label>
					<%= f.select :memo_type_id, MemoType.all.collect { |mt| [mt.subject, mt.id.to_s] }, :include_blank => true %>
				</li>
				<li class="horizental">
					<label>Status</label>
					<%= f.select :status, Memo::STATUS.collect {|s| [s[0], s[1].to_s]}, :include_blank => true %>
				</li>
				<li class="horizental">
					<label>Memo For</label>
					<%= f.select :memoable_type, Memo::MEMO_FOR, :include_blank => true %>
				</li>
				<% if allowed? %>
					<li class="horizental">
						<label>Assigned To</label>
						<%= f.select :assigned_to_id, [["System", "0"]] + AdminUser.all.collect {|au| [au.name, au.id.to_s]}, :include_blank => true %>
					</li>					
				<% end %>
				<li class="horizental" style="margin-top:15px">
					<a id="filter_reload" href="" class="btn ui-state-default ui-corner-all ignore-me">
						Reload
					</a>
				</li>
				<li class="horizental" style="margin-top:25px"> Total records found: <%= @size %></li>
				<li class="horizental" style="margin-top:22px"><%= loading("Loading...", "loading-filter") %></li>
			</ul>		
			<div class="clear"></div>
		<% end -%>
		
		<% table  :id => "memos_table", :class => "for-memos", :width => "1150;" do |t| %>
			<% t.th(check_box(:select, :all, :id => "select_all", :class => "select-all")) if allowed? %>
			<% t.th "#" %>
			<% t.th "Memo For" %>
			<% t.th "Memo Info" %>
			<% t.th "Category" %>
			<% t.th "Type" %>
			<% t.th "Status" %>
			<% t.th "Succd?" %>
			<% t.th "LstFlp Date" %>
			<% t.th "LstFlp By" %>
			<% t.th "Flp Due" %>
			<% t.th "Asnd To" %>
			<% t.th "Created By" %>
			<% t.th "Date Opened" %>
			<% counter = (((@page - 1) * @limit)) %>
			<% for m in @memos do %>
				<% t.td(check_box(:select, :single, :record_id => m.id, :class => "select-row"), :style=>"text-align: center;") if allowed? %>
				<% t.td counter += 1 %>
				<% t.td m.memoable.class.to_s %>
				<% t.td link_to(m.memoable.info, "", :class=>"fn", :function => "load_memo('#{m.memoable_type.downcase}', #{m.memoable_id}, #{m.id})") %>
				<% t.td m.memo_category.category %>
				<% t.td(if m.memo_type then m.memo_type.subject else 'ERR' end)%>
				<% t.td m.status_string %>
				<% t.td((m.status == 3)? (yes_no(m.success)) : "Prog") %>
				<% t.td followup_date(m, "No Flp") %>
				<% t.td admin_user(m.followup_by, "No Flp") %>			
				<% t.td user_date(m.followup_due) %>
				<% t.td admin_user(m.assigned_to) %>
				<% t.td admin_user(m.created_by) %>
				<% t.td m.created_at.strftime("%a %m/%d") %>				
				<% if m.followup %>
					<% if m.status == Memo::CLOSED %>
						<% t.new_row %>
					<% else %>
						<% t.new_row :class => "warn" %>
					<% end -%>
				<% else %>
					<% t.new_row %>
				<% end %>
			<%  end -%>
		<% end -%>
	<div class="clear"></div>
	<%= pager(@path, "inner-ajax") %>
	<div class="clear"></div>
	<% end -%>
	
	<div class="two-column" id="memo-stuff">
		<div class="left" style="width:19% !important">
			<div id="memo-container"></div>
		</div>
		
		<div class="right" style="width:80% !important">
			<% box :type => "simple", :id => "memoable-container", :class => "hide" do %>
			<% end -%>
		</div>		
	</div>
	
	<div class="clear-fix"></div>
	<div id="container" class="hide"></div>
	<script>
		$(function(){
			close_sidebar();
		});
		
		function load_memo(memoable, memoable_id, memo_id) {
			$("#memo-stuff").show();
			$("#portlet_memos").find(".portlet-content").toggle('slow');
			$.get(('/memos/' + memo_id + '/edit'), "no_modal=yup",function(resp){
				$("#memo-container").html(resp);
			});			
			$.get(('/' + memoable + "s/" + memoable_id + "?no_memo=yup&compact=yup"), function(resp){
				$("#memoable-container").html(resp);
				$("#memoable-container").removeClass('hide');
			});						
		}
		
		function assign() {
			var admin = $("#assign_memo_to").val();
			if (admin == "") {
				alert("No Rep was selected!");
				return;
			};
			var ids = selected_rows("#memos_table");
			if (ids) {
				$("#loading-pager").fadeIn();
				var params = [];
				ids = ids.join(",");
				ids = "ids=" + ids;
				params.push(ids);
				params.push(param("assign_to", admin));
				$.post("/memos/batch_assign", params.join("&"));				
			}else{
				alert("No memo is selected!");
			};
		}
	</script>
</div>
