<%= stylesheet_link_tag "/css/ui/ui.accordion.css" %>

<%= javascript_include_tag "/js/ui/ui.accordion.js" %>
<%= javascript_include_tag "/js/ap.ghazanfar.js" %>
<%= javascript_include_tag "jquery.gritter.min" %>
<%= javascript_include_tag "ap.live.js" %>
<%= javascript_include_tag "juggernaut.js" %>
<%= javascript_include_tag "/js/ap.timer.js" %>
<%= javascript_include_tag "/js/ap.cm.js" if RAILS_ENV == "production" %>
<%= javascript_include_tag "ap.sirch.js" %>
<%= javascript_include_tag "/js/tablesorter.js" %>

<div class="clear"></div>
<input type="hidden" name="ext" id="ext" value="<%= session[:user].ext %>"></input>
<div id="dev_null" style='display:none'></div>
<div id="sirch" style="display: none; top: 30%;" class="GleeThemeDefault">
	<input type="text" id="gleeSearchField" value="" autocomplete="off" class="ac_input GleeThemeDefault" style="font-size: 50px; ">
	<div id="gleeSub">
		<div id="gleeSubText">Salam</div>
		<div id="gleeSubActivity"></div>
		<div id="gleeSubURL"></div>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
	var first_pop = true;
	
	function hack_hack_hack() {
		var first_hack = $(".hack-hack-hack")[0];
		$(first_hack).addClass("move-right");
	}
	
	$(function(){
		var h = $(window).height() - 60;
		$(".search-result").live('click', function(e) {
			e.preventDefault();
      close_sirch_box();
		});
		$("#page-content-wrapper").css({"minHeight" : h});
		$(".trigger").click(function(){
      toggle_panel();
			return false;
		});
    $(".top_trigger").click(function(){
    			alert('clicked');
          top_toggle_panel();
    			return false;
    		});



		$("a").live('click', function(e){
      if ($(this).hasClass("openable")) {
 				return true;
			}			
			
			if ($(this).hasClass("ajax") || $(this).hasClass("ajax-delete") || $(this).hasClass("fn")
			 || $(this).hasClass("ignore-me") || $(this).hasClass("ui-state-default")
			 || $(this).hasClass("ui-datepicker-next") || $(this).hasClass("ui-datepicker-prev")) {
				return false;
			};
			
			e.preventDefault();
			history.pushState({ path: this.path }, '', this.href);
		  $.get(this.href, {}, function(resp) {
				$("#response").hide();
		    $("#response").html(resp);
				$("#response").show('slide', {direction: 'left'});
				hack_hack_hack();
		  })
		  return false
		});		

		$(window).bind('popstate', function(e) {
			if (first_pop) {				
				first_pop = false;
				return false;
			};
			var path = location.pathname;
			$.get(path, {}, function(resp) {
				$("#response").hide();
		    $("#response").html(resp);
				$("#response").show('slide', {direction: 'right'});
				hack_hack_hack();
		  })
		});
		hack_hack_hack();
		/*$(".wazzup").fadeOut(500, function(){
			$("#page-layout").fadeIn('slow');
		});*/
	});
</script>
</body>
</html>
