Dear <%= assigns[:parameter].first_name%> ,<br><br>  

Here are your credentials for login.<br>
Login       : <%= assigns[:parameter].email%><br> 
Password    : <%= assigns[:parameter].password%><br>
URL         : <a href="http://<%= assigns[:parameter].company_code%>.catalog.diasparkonline.com" target='_blank'>http://<%= assigns[:parameter].company_code%>.catalog.diasparkonline.com</a>
<br><br> 

Thanks,<br>
Admin

