<html><head>


<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<title>Tehran Rate Adjustment - Credit Posted to Your Account</title>
<meta name="author" content="aranea"/>


<style type="text/css">
a:hover { text-decoration: none !important; }
.user {font-size: 14px; color: rgb(0, 0, 0);}
</style>
</head><body>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
 <tbody><tr>

  <td style="text-align: center;">
   <center>
    <table width="700" cellspacing="0" cellpadding="0" border="0" align="center">
     <tbody><tr>
      <td height="35" class="head" style="padding: 0px 0px 0px 16px; background: rgb(45, 45, 45) none repeat scroll 0% 0%; font-size: 12px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-family: Arial,Helvetica,sans-serif; color: rgb(161, 161, 161);">
       You are receiving this email because you are a registered member of OpenFo network.
      </td>

     </tr>

     <tr>
    <!-- CENTER -->
      <td class="center" style="border: 1px solid rgb(239, 239, 239);">
       <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
         <td class="logo" style="padding: 16px 0px 0px 19px;">
          <img width="183" height="66" border="0" src="http://sip.openfo.com/images/logo.jpg" alt="logo"/>

         </td>
        </tr>

        <tr>
         <td height="29">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
           <tbody><tr>
            <td width="477" valign="top" class="date_lft" style="padding: 0px;"><img width="477" height="29" border="0" src="http://sip.openfo.com/images/date_lft.jpg" alt=""/></td>
            <td valign="top" class="date_rht">

             <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody><tr>
               <td height="23" class="date_txt" style="font-weight: bold; font-size: 12px; line-height: 23px; background-color: rgb(233, 125, 0); font-family: Georgia,Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); font-style: italic; text-align: center;"><%= Time.now.strftime("%B %d, %Y" ) %></td>
              </tr>
             </tbody></table>
            </td>
           </tr>
          </tbody></table>
         </td>
        </tr>

        
        <tr>
         <td class="cont_cell" style="padding: 17px 36px 15px 22px; font-size: 12px;">
          <p style="padding: 0px 0px 7px; line-height: 20px;"><b class="user" style="">Dear <span style="color: rgb(238, 118, 0);"><%= @user.first_name %></span>,</b></p>

          <p class="txt" style="padding: 0px 0px 7px; font-size: 12px; line-height: 20px; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51);">
          	Your account has been credited with <b class="user"><%= number_to_currency(@credit) %></b>
						due to an accidental rate increase on your Tehran calls.
						<br><br>
						Between Dec. 8th, 2009 to Dec. 10th, 2009 Tehran rate was accidentally increased to 8.9 cents per minute from the original rate of 6.9 cents per minute.
						<br>
						<br>
						We had found out about this rate issue on Dec. 10th, 2009 and immediately corrected it.
						<br><br>
						Below you will find the list of your calls that were affected:
						<br><br>
						<table cellspacing="0" cellpadding="4" border="1" style="font-size: 12px;font-family: Arial,Helvetica,sans-serif;">
							<tbody>
								<tr>
									<th>Date</th>
									<th>Destination Number</th>
									<th>Minutes</th>
								</tr>
								<% for call in @cdrs %>
									<tr>
										<td><%= call.date.to_formatted_s(:db) %></td>
										<td><%= call.dst_number %></td>
										<td><%= call.billing_minute %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
						<br>
						Your new account balance after the <b class="user"><%= number_to_currency(@credit) %></b> credit is now
						<b class="user"><%=number_to_currency(@user.account.balance)%></b>.
						<br>
						<br>																		
						You can view your Account Balance by logging into your OpenFo account at <a href="http://openfo.com">www.openfo.com</a>.<br><br>
						
						We sincerely apologize for the inconvenience that this issue may have caused you.<br><br>
						
						<p class="txt" style="padding: 0px 0px 7px; font-size: 12px; line-height: 20px; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51);">
							Best regards,<br>
							<b>OpenFo Management Team</b>
						</p>
          </p>
         </td>
        </tr>        
        <tr>
         <td class="art_sep" style="padding: 10px 0px 0px;"><img width="697" height="1" border="0" src="http://sip.openfo.com/images/art_sep_abs.gif" alt=""/></td>
        </tr>
        <tr>
         <td class="cont_cell" style="padding: 17px 36px 15px 22px; font-size: 12px;">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
           <tbody><tr>
            <td width="4"><img width="3" height="34" border="0" src="http://sip.openfo.com/images/art_head.gif" alt=""/></td>

            <td><h4 style="margin: 0px 0px 15px; padding: 0px 0px 0px 5px; font-weight: normal; font-size: 18px; font-family: Georgia; color: rgb(0, 0, 0);">Customer Support: </h4></td>
           </tr>
          </tbody></table>

          <table width="100%" cellspacing="0" cellpadding="0" border="0">
           <tbody><tr>
            <td width="460">
             <p class="txt" style="padding: 0px 0px 7px; font-size: 12px; line-height: 20px; font-family: Arial,Helvetica,sans-serif; color: rgb(51, 51, 51);">
							For customer support you may contact <b>support@openfo.com</b> or call your Access Number and press 2 to connect to one of our customer support representatives.<br/> 
             </p>


            </td>
           </tr>

       </tbody></table>
      </td>
    <!-- /CENTER -->
     </tr>
     <tr>
    <!-- FOOTER -->
      <td class="footer">

       <table width="100%" cellspacing="0" cellpadding="0" border="0">

        <tbody><tr>
         <td height="31" class="foot_top" style="padding: 0px; background: rgb(226, 226, 226) none repeat scroll 0% 0%; font-size: 12px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-family: Arial,Helvetica,sans-serif; color: rgb(124, 124, 124); text-align: center;">
					© OpenFo, Inc.
					<br/>
					2967 Michelson Dr.  #G480, Irvine, CA 92612
         </td>
        </tr>
        <!--<tr>

         <td class="foot_btm" height="40" style="font-size: 12px; background: #E2E2E2; padding: 0px 0px 0px 0px; font-family: Arial, Helvetica, sans-serif; color: #7C7C7C; text-align: center; border-top: 1px solid #D0D0D0;">

          OpenFo Logo are registered trademarks of OpenFo Group.
         </td>
        </tr>-->
       </tbody></table>
      </td>
    <!-- /FOOTER -->
     </tr>
    </tbody></table>

    
  </td>

 </tr>
</tbody></table>
</center></td></tr></tbody></table></body></html>