<%= page_title :title => "List of All Leads" %>
<script type="text/javascript" src="/js/tablesorter.js"></script>
<script type="text/javascript" src="/js/tablesorter-pager.js"></script>
<script type="text/javascript" src="/js/leads.js"></script>
<% box :type => 'box_title', :title => "Filters" do %>
	<br>
	<% form_for @filter, :url => "", :html => {:class => "forms", :id => "form_filter"} do |f| %>
		<ul>
			<li class="horizental">
				<label>Status</label>
				<%= f.select :status, Lead::STATUS, :include_blank => true %>
			</li>
			<li class="horizental">
				<label>State</label>
				<%= f.select :state, Lead.states, :include_blank => true %>
			</li>
			<li class="horizental">
				<label>Timezone</label>
				<%= f.select :time_zone, Lead.time_zones, :include_blank => true %>
			</li>
			<li class="horizental" style="margin-top:15px">
				<a id="filter_reload" href="#" class="btn ui-state-default ui-corner-all">
					<span class="ui-icon ui-icon-circle-zoomin"></span>
					Reload
				</a>
			</li>
			<li class="horizental" style="margin-top:25px"> Total records found: <%= @size %></li>
			<li class="horizental" style="margin-top:22px"><%= loading("Loading...", "filter") %></li>
			<li></li>
		</ul>		
	<% end -%>
	<div class="clear-fix"></div>
<% end %>
<% table do |t| %>
	<% t.th(check_box :check, :all) %>
	<% t.th "#" %>
	<% t.th "Phone" %>
	<% t.th "Rate Center" %>
	<% t.th "State" %>				
	<% t.th "City" %>
	<% t.th "Zip" %>
	<% t.th "Timezone" %>
	<% t.th "Last Followup By" %>
	<% t.th "Last Followup Date" %>
	<% t.th "Followup Due" %>
	<% t.th "Created By" %>
	<% t.th "Assigned To" %>
	<% t.th "Status" %>		
	<% t.th "Date Added" %>

	<% counter = (((@page - 1) * @limit)) %>
	<% for l in @leads do %>
		<% t.td check_box(:check, "#{l.id}", :class => "lead-check") %>
		<% t.td counter += 1 %>
		<% t.td number_to_phone(l.phone, :area_code => true) %>
		<% t.td l.rate_center %>
		<% t.td l.state %>
		<% t.td l.city %>
		<% t.td l.zip_code %>
		<% t.td l.time_zone %>
		<% t.td  followup_by(l.memo) %>
		<% t.td  followup_date(l.memo) %>
		<% t.td  followup_date(l.memo) %>
		<% t.td  admin_user(l.created_by) %>
		<% t.td  assigned_to(l.memo, "Not Assigned") %>
		<% t.td  l.status_string %>
		<% t.td  user_date(l.created_at)%>
		
		<% t.new_row  %>
	<%  end -%>
<% end -%>
<%= pager(@path, "inner-ajax") %>

<div class="clearfix"></div>
<script>
	$(function() {
		$("#sort-table").tablesorter({
			widgets: ['zebra'],
			headers: {
			0: {            
				sorter: false
				}
			}
		});
		$('.tooltip').tooltip({
			track: true,
			delay: 0,
			showURL: false,
			showBody: " - ",
			fade: 250
		});
		$(".header").append('<span class="ui-icon ui-icon-carat-2-n-s"></span>');
	});
</script>